:root {
    --primary-color: #F1B601;
    --paragraph-color: #7A878B;
    --main-gradient: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    --secondary-gradient: radial-gradient(#2c5364, #203a43, #0f2027);

    --transition-duration: 1s;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--main-gradient);
    color: #fff;
    height: 5000px;
}

body::-webkit-scrollbar {
    width: 16px;
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 15px;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dancing Script", cursive;
}

.heading-2 {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

section {
    padding: 25px 0;
}

.button {
    position: relative;
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 22px;
    transition-duration: .5s;
    overflow: hidden;
}

.button span {
    transition-duration: .5s;
}

.button:hover span {
    color: #fff;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transition-duration: 1s;
}

.button:hover::before {
    left: 0;
}

.button span {
    position: relative;
    z-index: 2;
}

@media (max-width: 1300px) {
    .button {
        padding: 5px 20px;
    }
}

.hr {
    height: 4px;
    background-color: var(--primary-color);
    border-bottom: none;
    border-radius: 10px;
    margin: 20px 0;
    opacity: 1;
    color: var(--primary-color);
}

.title h5 {
    color: var(--primary-color);
}

.title .image {
    position: relative;
    width: fit-content;
}

.title .image::before,
.title .image::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #fff;
}

.title .image::before {
    left: 110%;
}

.title .image::after {
    right: 110%;
}