/* 350 */
@media (max-width: 1300px) {

    /*& Header Section */
    /*^ navbar */
    .offcanvas.offcanvas-start {
        width: 280px;
    }

    /*& part-1 */
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 100%;
        font-size: 12px;
    }

    /*^ carousel-control buttons */
    header #carouselExampleCaptions .buttons {
        bottom: 15px;
        right: 30px;
        width: 80px;
    }

    header #carouselExampleCaptions .buttons .carousel-control-next,
    header #carouselExampleCaptions .buttons .carousel-control-prev {
        width: 30px;
        height: 30px;
    }

    /*& part-2 */
    header .carousel-item:nth-child(2) .part-1 .image {
        width: 150px;
    }

    header .carousel-item:nth-child(2) .part-1 h2 {
        font-size: 60px;
    }

    header .carousel-item:nth-child(2) .part-1 p {
        font-size: 12px;
    }

    header .carousel-item:nth-child(2) .part-1 .text .phone-number {
        font-size: 20px;
    }

    header .carousel-item:nth-child(2) .part-2 img {
        display: none;
    }

    /*& part-3 */
    header .carousel-item:nth-child(3) .part-1 img {
        display: none;
    }

    header .carousel-item:nth-child(3) .part-2 p {
        font-size: 12px;
    }

    /*& About section */
    #About .part-1 p,
    #About .part-1 .box .part h4 {
        font-size: 14px;
    }

    #About .part-2 .content {
        height: 200px;
    }


    /*& Services Section */
    #Services {
        background-image: url("../images/video_image-min.jpg");
        background-position: center;
        background-size: cover;
    }

    #Services video {
        display: none;
    }

    #Services .text p {
        font-size: 12px;
    }

    #Services .content .box {
        max-width: 300px;
    }

    #Services .content .box:not(:last-child) {
        margin-bottom: 30px;
    }

}

/* 450 */
@media (min-width: 371px) and (max-width: 1300px) {

    /*& Header Section */
    /*& part-1 */
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 90%;
    }

    header .carousel-item:nth-child(2) .part-1 p {
        font-size: 14px;
    }
}

/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {

    /*& Header Section */
    /*& part-1 */
    header .carousel-item:nth-child(1).active .carousel-caption p {
        width: 60%;
        font-size: 16px;
    }

    /*& part-3 */

    header .carousel-item:nth-child(3) .part-2 p {
        font-size: 16px;
    }

    /*^ carousel-control buttons */
    header #carouselExampleCaptions .buttons {
        bottom: 15px;
        right: 30px;
        width: 100px;
    }

    header #carouselExampleCaptions .buttons .carousel-control-next,
    header #carouselExampleCaptions .buttons .carousel-control-prev {
        width: 40px;
        height: 40px;
    }

    /*& About section */
    #About .part-1 p,
    #About .part-1 .box .part h4 {
        font-size: 16px;
    }

    /*& Services Section */
    #Services .text p {
        font-size: 14px;
    }

}

/* 850 */
@media (min-width: 769px) and (max-width: 1300px) {

    /*^ navbar */
    .offcanvas.offcanvas-start {
        width: 300px;
    }

    header .carousel-item:nth-child(2) .part-2 img {
        display: block;
    }

    header .carousel-item:nth-child(3) .part-1 img {
        display: block;
    }

    /*& About section */
    #About .part-2 .content {
        height: 300px;
    }

    /*& Services Section */
    #Services {
        background-image: none;
    }

    #Services video {
        display: block;
    }

        #Services .text p {
        font-size: 16px;
    }

    #Services .content .box:not(:last-child) {
        margin-bottom: 0px;
    }

}

/* 1050 */
@media (min-width: 992px) and (max-width: 1300px) {

    /*^ navbar */
    .offcanvas.offcanvas-start {
        width: 400px;
    }
}

/* 1250 */
@media (min-width: 1181px) and (max-width: 1300px) {}